.navi-container {
  height: 8vh;
  .navi-header {
    display: flex;
    border-bottom: 1px solid black;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    h3 {
      margin-left: 15px;
      font-family: monospace;
      font-size: 25px;
      .navi-link {
        text-decoration: none;
        color: rgb(61, 58, 58);
      }
    }
    img {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      margin: 15px 10px 10px 0px;
    }
    button {
      margin-right: 15px;
      width: 15vw;
      height: 2.5vh;
      border-radius: 8px;
      border: none;
      background-color: darkgrey;
      font-family: monospace;
      font-size: 15px;
      font-weight: bold;
      .navi-link {
        text-decoration: none;
        color: white;
      }
    }
    .dropdown-menu {
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: #fff;
      color: black;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1;
      h5 {
        margin: 8px;
        font-family: monospace;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        padding: 4px 8px;
      }
    }

    .dropdown-menu ul {
      width: auto;
      height: auto;
      list-style: none;
      padding: 0;
    }

    .dropdown-menu li {
      padding: 10px 20px;
      cursor: pointer;
    }

    .dropdown-menu li:hover {
      background-color: #cccccc;
    }
  }
 
}
.navi-outlet {
  min-height: 84vh;
}
