.navi-container {
  .navi-header {
    display: flex;
    border-bottom: 1px solid black;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    
    h3 {
      margin-left: 15px;
      font-family: monospace;
      font-size: 25px;
      .navi-link {
        text-decoration: none;
        color: rgb(61, 58, 58);
      }
     
    }
    
    img {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      margin: 15px 10px 10px 0px;
      box-shadow: 2px 4px 6px #33333379;
    }
    .naviLoginButton {
      margin-right: 15px;
      width: auto;
      padding: 5px 15px;
      height: 3vh;
      border-radius: 8px;
      border: none;
      background-color: #bbb;
      font-family: monospace;
      font-size: 15px;
      font-weight: bold;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
      .navi-link {
        text-decoration: none;
        color: black;
      }
      &:hover {
        background-color: #ccc;
        transition: 0.3s;
        cursor: pointer;
      }
      &:active {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
    .dropdown-menu {
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: #fff;
      color: black;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1001;
      h5 {
        margin: 8px;
        font-family: monospace;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        padding: 4px 8px;
      }
    }

    .dropdown-menu ul {
      width: auto;
      height: auto;
      list-style: none;
      padding: 0;
    }

    .dropdown-menu li {
      padding: 10px 20px;
      cursor: pointer;
    }

    .dropdown-menu li:hover {
      background-color: #cccccc;
    }
    .darkMode {
      width: auto;
      height: 3vh;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      position: absolute;
      right: 150px;
      background-color: #666;
      box-shadow: 2px 4px 6px #33333379;
      border-radius: 8px;
      border:none;
      &:hover {
        background-color: #555;
        transition: 0.3s;
        cursor: pointer;
      }
      &:active {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
    .lightMode {
      width: auto;
      border:none;
      height: 3vh;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      position: absolute;
      right: 150px;
      background-color: #ffffff;
      box-shadow: 2px 4px 6px #33333379;
      border-radius: 8px;
      &:hover {
        background-color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
      }
      &:active {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }
}

.navi-outlet {
  min-height: 87vh;
}

