.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .background-image {
    width: 100%;
    height: 40vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: endimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; // Resmi yukarıdan aşağıya doğru ortalar
  background-repeat: no-repeat;
  background-clip: content-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom; // Resmin en altını görüntüler
  background-repeat: no-repeat;
  background-clip: content-box;
}; // Resmi ortalar
      background-repeat: no-repeat;
      background-clip: content-box;
    }
  }
  .profile-menu {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      margin-top: -200px;
      margin-left: 50px;
    }
    ul {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      align-items: center;
      li {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-family: monospace;
        font-size: 15px;
        font-weight: 700;
        color: black;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
        }
        &:hover {
          cursor: pointer;
          background-color: #ebebeb;
          border-radius: 10px;
        }
      }
    }
  }

  .profile-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;

   
  }
}
