.complaint-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.258);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  h2 {
    font-family: monospace;
    margin-bottom: 10px;
  }
  form {
    background-color: #eee;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 50vh;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    .exit {
      position: absolute;
      border: none;
      background-color: transparent;
      top: 0;
      right: 0;
      margin: 10px;

      color: rgb(0, 0, 0);
      &:hover {
        cursor: pointer;
        border-radius: 15px;
        color: rgb(200, 0, 0);
        transition: 0.3s;
      }
      &:active {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  
    textarea,
    select {
      min-width: 50vw;
      max-width: 50vw;
      min-height: 15vh;
      padding: 20px;
      border-radius: 10px;
      border: none;
      font-size: 17px;
      font-family: monospace;
      color: black;
      font-weight: 600;
      box-shadow: 3px 6px 9px rgb(128, 124, 124);
    }
    input[type="submit"] {
      background-color:rgb(255, 255, 255);
      width: 15vw;
      height: 4vh;
      color: black;
      font-family: monospace;
      font-size: 17px;
      font-weight: 700;
      border-radius: 15px;
      border: 1px solid #16b6de;
      &:hover {
        background-color: #ccc;
        transition: 0.3s;
        cursor: pointer;
      }
      &:active {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }
}
