#main {
  .main-line {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
  }

  .scrollToTop {
    position: fixed;
    font-size: 35px;
    border: none;
    box-shadow: 2px 4px 10px  rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    font-weight: bold;
  
    background-color: #ccc;
    

    bottom:7.5%;
    
    right: 20px;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      background-color: #aaa;
      transition: 0.2s;
    }
    &:active {
      transform: scale(1.4);
      transition: 0.2s;
    }
  }

  
}
