:root {
    --primary-color: rgb(244, 123, 17);
    --secondary-color: rgb(193, 214, 4);
    --white-color: rgb(245, 244, 244);
    --gray-color: rgb(61, 61, 61);
  }
  .btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: lighter;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
  .btn-1 {
    background-color: var(--primary-color);
    border: 1px solid white;
    width: 120px;
  }
  .btn-2 {
    background-color: var(--secondary-color);
    border: 1px solid white;
    width: 120px;
  }
  
  .text {
    margin: 12px 0px;
    text-align: center;
    flex-direction: column;
    font-weight: lighter;
  }
  .text h2 {
    margin-top: 7px;
    font-weight: lighter;
  }
  .text p {
    font-size: 14px;
    font-weight: lighter;
  }
  
  .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: rgb(77, 77, 77);
  }
  .box-1 h2 {
    font-size: 18px;
  }
  .box-1 p {
    font-size: 14px;
  }
  .box-1-1 {
    margin: 20px;
    float: left;
  }
  .box-1-2 {
    margin: 20px;
    float: left;
  }
  .box-1-3 {
    margin: 20px;
    float: left;
  }
  .icon {
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 50%;
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .box-2 {
    display: flex;
  }
  .section-content-left-right-img img {
    object-fit: cover;
    float: left;
    width: 50vw;
    height: 50vh;
  }
  .section-content-left-right-article {
    color: white;
    font-weight: lighter;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding: 20px;
  }
  .section-content-left-right-article h2 {
    font-weight: lighter;
  }
  .section-content-left-right-article p {
    font-size: 14px;
  }
  .article-color-1 {
    background-color: var(--primary-color);
  }
  .article-color-2 {
    background-color: var(--secondary-color);
  }
  .box-3 {
    display: flex;
    flex-direction: column;
  }
  
  .box-3-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    text-align: center;
  }
  .box-3-2 img {
    width: 23.5vw;
    height: 23.5vh;
    margin: 2px;
    object-fit: cover;
  }
  .box-3-2 img:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .box-4 {
    display: flex;
  }
  
  .box-5 {
    display: flex;
    flex-direction: column;
  }
  
  .box-5-2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .box-5-2 img {
    object-fit: cover;
    border-radius: 50%;
    width: 260px;
    height: 340px;
    margin: 0px 15px;
  }
  .box-5-2 p {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .box-6-2 {
    background-color: var(--white-color);
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
  }
  .box-6-2 h2 {
    font-weight: lighter;
    margin-bottom: 20px;
  }
  .box-6-2 input {
    margin: 5px;
    border: none;
    height: 3.5vh;
    padding: 5px;
    color: rgb(128, 126, 126);
    border-radius: 5px;
    border: 1px solid var(--white-color);
  }
  
  input[type="text"]:focus {
    border: 3px solid var(--primary-color);
  }
  .box-6-2 input[type="text"] {
    height: 3.5vh;
    box-sizing: border-box;
    border: 1px solid var(--white-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  .box-6-2 input[type="text"]:focus {
    border: 3px solid var(--primary-color);
  }