#admin-home-container {
  width: 80vw;
  height: 88vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  table {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
   
    tr,
    td {
       
        font-size: 60px;
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;

    }
  }
}
