


#admin-home-container{
    width: 100%;

    .cards {
      width: 100%;
      padding: 35px 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      .card {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #dddddd;
        border-radius: 10px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        .number {
          font-size: 35px;
          font-weight: 500;
          color: #299B63;
        }
        
        .card-name {
          color: #888;
          font-weight: 600;
        }
        .icon-box i {
          font-size: 45px;
          color: #299b63;
        }
        
      }
    }
    .charts {
      display: grid;
      grid-template-columns: 1.9fr 1.1fr;
      grid-gap: 20px;
      width: 100%;
      padding: 20px;
      padding-top: 0;
      .chart {
        background-color: #dddddd;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        width: 100%;
        h2 {
          margin-bottom: 5px;
          font-size: 20px;
          color: #666;
          text-align: center
        }
        canvas {
          width: 100% !important;
          height: 250px !important;
        }
      }
    }
    
    
  

}







