.user-comment {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ccc;
    padding:5px;
    border-radius: 10px;
    

    p {
      width: 100%;
      padding-left: 10px;
    }
  }