.problem {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    &:nth-child(even) {
      background-color: #f5f5f5;
      box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
      border: 0.1px solid #919191;
    }
   
   
    &:nth-child(odd) {
      background-color: #fff; /* Gri */
      box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
      border: 0.1px solid #919191;
    }
    

    .problem-detail {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    
      .problem-head-text {
        padding: 15px;
        height: auto;
        padding-bottom: 50px;
        background-color: #ddd;
        border-radius: 10px 10px 0 0;
        position: relative  ;
        h3{
          font-size: 18px;
          max-width: 80%;
          margin-bottom: 10px;
          font-weight: 600;
          font-family: monospace;
        }
        h4{
          position: absolute;
          max-width: 20%;
          margin-right: 5px;
          margin-top: -10px;
          right: 0;
          font-family: monospace;
          font-size: 15px;
          font-weight: 600;
        }
        p{
          cursor: pointer;
          font-family: monospace;
        }
        .click-to-detail{
          font-family: monospace;
          font-size: 14px;
          font-weight: 600;
          color: rgb(42, 90, 131);
          margin-top: 25px;
          margin-bottom: -35px;
          transition:  0.2s;
         
        }
      }
      .problem-write-comment {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        margin-top: 10px;
        margin-bottom: -5px;
        textarea {
          width: 90%;
          height: 90%;
          border:none;
          box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
          border-radius: 10px 0 0 10px;
          padding: 10px;
        }
        button{

          border: none;
          background-color: #ddd;
          font-family: monospace;
          font-size: 15px;
          width: 10%;
          height: 90%;
          border-radius: 0 10px 10px 0;
          box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
          

          &:active{
            transform: scale(1.1);
            transition: 0.2s;
          }

        }
      }
      

    
      .more-comments-p{
        padding: 15px;
      }
    }
    
  }