
#profile-detail-container {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
      
      form {
        margin-top: 50px;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        input,
        textarea,
        select {
          width: 30vw;
          height: 5vh;
          padding: 15px;
          border-radius: 10px;
          border: none;
          box-shadow: 3px 6px 9px rgb(128, 124, 124);
        }
        input[type="submit"] {
          background-color: rgb(194, 191, 191);
          width: 15vw;
          color: aliceblue;
          font-family: monospace;
          font-size: 15px;
          font-weight: 700;
        }
      }
    }