.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .background-image {
    width: 100%;
    height: 40vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: endimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; // Resmi yukarıdan aşağıya doğru ortalar
        background-repeat: no-repeat;
        background-clip: content-box;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom; // Resmin en altını görüntüler
        background-repeat: no-repeat;
        background-clip: content-box;
      } // Resmi ortalar
      background-repeat: no-repeat;
      background-clip: content-box;
    }
  }
  .profile-menu {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    .picture-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: -200px;
      }
    }

    ul {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      box-shadow: 40px 20px 30px 5px rgba(61, 60, 60, 0.75);
      // box-shadow: 35px 1px 40px 10px rgba(0, 0, 0, 0.75);
      align-items: center;
      border-radius: 15px;
      &:hover {
        cursor: pointer;
        box-shadow: 35px 1px 40px 10px rgba(113, 111, 111, 0.75);

      }
      
      li {
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-family: monospace;
        font-size: 15px;
        font-weight: 700;
        color: black;
        text-align: center;
       
        a {
          text-decoration: none;
          color: black;
        }
        &:hover {
          cursor: pointer;
          box-shadow: 1px 1px 10px 1px rgba(151, 148, 148, 0.75);
          border-radius: 10px;
        }
      }
    }
  }

  .profile-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
}
