.filter-complaint {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 40px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  select {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  input[type="search"] {
    width: 35%;
    height: 35px;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 20px;
    border: 0.1px solid gray;
  }
  div {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
    label {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  button{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 0.1px solid gray;
    background-color: #5386d8;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 1rem;
    cursor: pointer;
    &:hover{
      background-color: #ddd;
    }
}
}
