.create-content {
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  h2 {
    font-family: monospace;
    font-size: 25px;
  }
  .aciklama {
    background-color: rgb(133, 131, 127);
    width: 80vw;
    height: 20vh;
    margin: 10px;
    border-radius: 10px;
    color: white;
  }
  form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 20px;
    align-items: center;
    justify-content: center;
    input,
    textarea,
    select {
      width: 50vw;
      height: 6vh;
      padding: 15px;
      border-radius: 10px;
      border: none;
      box-shadow: 3px 6px 9px rgb(128, 124, 124);
      font-size: 1.2rem;
    }
    textarea{
      min-height: 10vh;
      min-width: 50vw;
    }
    input[type="submit"] {
      background-color: rgb(194, 191, 191);
      width: 15vw;
      color: aliceblue;
      font-family: monospace;
      font-size: 15px;
      font-weight: 700;
    }
  }
}
