#detail-container {
  display: flex;
  flex-direction: row;
  min-height: 95vh;

  #detail-content {
    margin: 50px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    .detail-aciklama {
      width: 100%;
      height: 180px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #ddd;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      .detail-text {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid white;
        padding: 30px;
      }
      .detail-share-button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 120px;
          background-color: #555;
          border-radius: 12px;
          box-shadow: 5px 10px 15px black;
          border: none;
          height: 40px;
          transition: 0.5s;
          .detail-link {
            text-decoration: none;
            color: white;
          }
          &:hover {
            width: 170px;
            cursor: pointer;
          }
        }
      }
    }

    hr {
      height: 2px;
      margin-top: 15px;
      background-color: gray;
    }

    .detail-list-problem {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      background-color: #ddd;
      padding: 20px;
      margin-top: 15px;
      border-radius: 10px;
      .detail-user-picture {
        width: 100%;
        position: relative;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 25px;
        }
        h3 {
          color: rgb(64, 121, 171);
          float: right;
          margin-top: 8px;
          margin-left: 10px;
        }
        span{
          position: absolute;
          right: 5px;
         
          padding: 5px 10px;
          border-radius: 15px;
          font-family: monospace;
          font-size: 12px;
        }
      }

      .detail-problem-detail {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .detail-problem-head-text {
          padding: 10px;
          background-color: #919191;
          position: relative;
          border-radius: 10px 10px 0 0;
          h4{
            position: absolute;
            margin-right: 10px;
            right: 0;
            font-family: monospace;
            font-size: 15px;
            font-weight: 600;
          }
        }

        .detail-problem-comment-view {
          width: 100%;
          height: 32px;
          background-color: aliceblue; 
          display: flex;
          flex-direction: row;
          position: relative;
          gap: 10px;
          padding: 5px;
          border-radius: 0px 0px 10px 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
          .completed-button {
            border-radius: 12px;
            border: 0.1px solid gray;
            position: absolute;
            margin-right: 10px;
            right: 0;
            transition: 0.4s;
            background: none;
            padding: 1px 10px;
           
            
            &:hover {
              cursor: pointer;
              background-color: #f4f0f0;
              transform: scale(1.05);
            }
        
            .user-link {
              text-decoration: none;
              color: #007bff; 
            }
        
          }
        }
        .detail-write-comment {
          width: 100%;
          height: 60px;
          display: flex;
          flex-direction: row;
          align-items: center;

          textarea {
            width: 90%;
            height: 90%;
          }
          
        }

        .detail-user-comment {
          margin-top: 10px;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 5px;
          background-color: #fafafa;
          border-radius: 10px;
          .detail-comment-user-picture {
            position: relative;
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #c4c4c4;
            gap: 10px;
            img {
              width: 30px;
              height: 30px;
              border-radius: 25px;
            }
            h4 {
              color: rgb(83, 124, 160);
            }
            span{
              position: absolute;
              right: 5px;
           
              padding: 5px 10px;
              border-radius: 15px;
              font-family: monospace;
              font-size: 12px;
            }
          }

          p {
            width: 100%;
            padding: 10px;
          }
        }
      }
    }
  }
}
