#list-container {
  display: flex;
  flex-direction: row;
  min-height: 95vh;
width: 70vw;
  #list-content {
    margin: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    .list-state {
      width: 100%;
      height: 180px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #f5f5f5; 
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
text-align: center;
      .list-text {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid white;
        padding: 30px;
        font-family: monospace;
        font-size: 15px;
        font-weight: 600;
        color: #4e4e4e;
      }
      .list-share-button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          background-color: #aaa;
          width: 120px;
          border-radius: 12px;
          box-shadow: 5px 10px 15px black;
          border: none;
          height: 40px;
          transition: 0.4s;
          .list-link {
            text-decoration: none;
            color: white;
          }
          &:hover {
            width: 170px;
            cursor: pointer;
          }
        }
      }
    }

    hr {
      height: 2px;
      margin-top: 15px;
      background-color: gray;
    }

    .list-problem {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      
      padding: 20px;
      margin-top: 40px;
      border-radius: 10px;
      &:nth-child(even) {
        background-color: #f5f5f5;
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
        border: 0.1px solid #919191;
      }
      
     
      &:nth-child(odd) {
        background-color: #fff; /* Gri */
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
        border: 0.1px solid #919191;
      }
      .list-user-picture {
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 25px;
        }
        h3 {
          color: rgb(42, 90, 131);
        }
        span {
          position: absolute;
          right: 5px;
         
          padding: 5px 10px;
          border-radius: 15px;
          font-family: monospace;
          font-size: 12px;
        }
      }

      .list-problem-detail {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
      
        .list-problem-head-text {
          padding: 15px;
          padding-bottom: 50px;
          background-color: #ddd;
          border-radius: 10px 10px 0 0;
          position: relative  ;
          h3{
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 600;
            font-family: monospace;
          }
          h4{
            position: absolute;
            margin-right: 10px;
            right: 0;
            font-family: monospace;
            font-size: 15px;
            font-weight: 600;
          }
          p{
            cursor: pointer;
            a{
              font-size: 14px;
              font-weight: 600;
              
            }
          }
        }

        .list-problem-comment-view {
          width: 100%;
          height: 32px;
          
          display: flex;
          flex-direction: row;
          position: relative;
          gap: 10px;
          padding: 5px;
          border-radius: 0px 0px 10px 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
          button{
            width: 45px;
            font-size: 14px;
            border: none;
            background-color: transparent;
            box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            &:hover{
              cursor: pointer;

            }
            &:active{
              transform: scale(1.2);
              transition: 0.2s;
            }
          }
        }

        .list-user-comment {
          margin-top: 10px;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 5px;
          background-color: #ccc;
          border-radius: 10px;
          .list-comment-user-picture {
            position: relative;
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #bbb;
            border-radius: 10px 10px 0 0;
            box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
            gap: 10px;
            img {
              width: 30px;
              height: 30px;
              border-radius: 25px;
              margin-left: 10px;
              
            }
            h4 {
              color: rgb(42, 90, 131);
            }
            span {
              position: absolute;
              right: 5px;
              padding: 5px 10px;        
              font-family: monospace;
              font-size: 12px;
            }
          }

          p {
            width: 100%;
            padding: 10px;
          }
        }
      }
      
    }
    .list-load-more {

      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: -30px;
      display: flex;
      justify-content: center;
      padding:10px 10px;
      border-radius: 10px;
      font-family: monospace;
      font-size: 20px;
      border: none;
      box-shadow: 2px 4px 8px black;
      
      &:hover {
        cursor: pointer;
        background-color: #aaa;
        padding: 10px 20px;
        transition: 0.1s;

      }
      &:active
      {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }
  
  }
}
