.popular {
width: 50vw;

  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 100px;
  h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  .popular-content {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
  }
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #0056b3;
    }
  }
}
