
.footer {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    h3 {
        margin-left: 5vw;
        font-family: 'Monospace', sans-serif;
    }
    h5 {
        margin-right: 3vw;
        font-family: 'Monospace', sans-serif;
    }
}