.user-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 50px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
  
    button {
      background-color: rgb(255, 255, 255);
      border: 1px solid #16b6de;
      color: black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      font-family: monospace;
      margin: 10px 5px;
      cursor: pointer;
      transition-duration: 0.4s;
      position: relative;
      &:hover {
        background-color: #ddd;
      }
      &:active{
        transform: scale(1.08);
      }
      .action-dropdown{
        width: 100%;
        height: auto;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        
      }
      .hidden-action-dropdown{
        display: none;
      }
    }
    
  }

  .user-profile-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 15px;

    .user-profile-picture {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
      }
      hr {
        width: 150px;
        margin-top: 5px;
      }
      span {
        margin-top: 15px;
        font-family: monospace;
        font-size: 0.8rem;
      }
    }
    form {
      border-radius: 15px;
      padding: 30px 30px 30px 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      align-items: center;
      justify-content: center;
      input,
      select {
        font-size: 15px;
        width: 40vw;
        height: 5vh;
        padding: 15px;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 6px 9px rgb(128, 124, 124);
      }
      input[type="submit"] {
        background-color: rgb(255, 255, 255); /* Green */
      border: 1px solid #16b6de;
      color: black;
        
        width: 15vw;
  
        font-family: monospace;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        &:active{
          transform: scale(1.1);
        }
      }
    }
  }
}
