.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:100px ;
    h2{
      font-family: monospace;
    }
    form {
      background-color:#ccc;
      border-radius: 15px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 10px;
        align-items: center;
        justify-content: center;
        input,
        textarea,
        select {
          width: 50vw;
          height: 5vh;
          padding: 15px;
          border-radius: 10px;
          border: none;
          font-size: 17px;
          font-family: monospace ;
          color: black;
          font-weight: 600;
          box-shadow: 3px 6px 9px rgb(128, 124, 124);
        }
        input[type="submit"] {
          background-color: #aaa;
          width: 15vw;
          color: black;
          font-family: monospace;
          font-size: 17px;
          font-weight: 700;
          &:hover{
            background-color: #ccc;
            transition: 0.3s;
            cursor: pointer;
          }
          &:active
          {
            transform: scale(1.2);
            transition: 0.3s;
          }
        }
        
        
        button{
          background-color: #aaa;
          width: 15vw;
          color: black;
          font-family: monospace;
          font-size: 17px;
          font-weight: 700;
          border: none;
          height: 5vh;
          border-radius: 10px;
          box-shadow: 3px 6px 9px rgb(128, 124, 124);
          &:hover{
            background-color: #ccc;
            transition: 0.3s;
            cursor: pointer;
          }
          &:active
          {
            transform: scale(1.2);
            transition: 0.3s;
          }
        }
    }
}
