#admin-categories-container {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;

  form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    input {
      width: 80%;
      min-width: 24%;
      max-width: 90%;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      font-size: 2vw;
    }

    button {
      width: 50%;
      min-width: 24%;
      max-width: 60%;
      background-color: #ccc;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.5vw;
      font-family: "Monospace", sans-serif;
      border: none;
    }
  }

  #category-list {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    border-top: 5px solid white;
    padding-top: 50px;
    justify-content: center;
    .admin-categories {
      width: 30%;
      text-align: center;
      min-width: 15%;
      max-width: 90%;
      height: auto;
      padding: 10px 30px;
      padding-bottom: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background-color: #ccc; /* Gri tonu */
      gap: 10px;
      .action {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        button {
          width: 40%;
          min-width: 10%;
          max-width: 60%;
          background-color: rgb(68, 66, 62);
          color: white;
          padding: 10px;
          border-radius: 10px;
          font-size: 1vw;
          font-family: "Monospace", sans-serif;
          border: none;
        }
      }
    }
    .category-list-detail-content {
      width: 30%;
      text-align: center;
  
      height: auto;
      padding: 10px ;
      padding-bottom: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background-color: #ccc; /* Gri tonu */
      gap: 10px;
 

        button {
          width: 60%;
       
       
          background-color: #aaa;
          color: black;

          padding: 10px;
          border-radius: 10px;
          font-size: 15px;
          font-weight: bold;
          font-family: "Monospace", sans-serif;
          border: none;
        }
      
    }
  }
}